Project/PhoneApp1/SampleData/PytaniaData/PytaniaData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.PytaniaData" targetNamespace="Expression.Blend.SampleData.PytaniaData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PytaniaData" type="tns:PytaniaData" />
  <xs:complexType name="PytaniaData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:CollectionItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItem">
    <xs:attribute name="Pytanie" type="xs:string" />
    <xs:attribute name="Odp1" type="xs:string" />
    <xs:attribute name="Odp2" type="xs:string" />
    <xs:attribute name="Odp3" type="xs:string" />
  </xs:complexType>
</xs:schema>