Project/PhoneApp1/SampleData/LoginData/LoginData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.LoginData" targetNamespace="Expression.Blend.SampleData.LoginData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LoginData" type="tns:LoginData" />
  <xs:complexType name="LoginData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Email Address" name="LoginName" type="xs:string" />
    <xs:attribute name="IsStudent" type="xs:boolean" />
    <xs:attribute name="Password" type="xs:string" />
  </xs:complexType>
</xs:schema>