Project/PhoneApp1/SampleData/GrupyData/GrupyData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.GrupyData" targetNamespace="Expression.Blend.SampleData.GrupyData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GrupyData" type="tns:GrupyData" />
  <xs:complexType name="GrupyData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="8,8" name="Description" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>